<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Org Vehicle Contorller</h1>
</div>

<form [formGroup]="exampleForm">
  <div class="form-group">
    <button (click)="load()">Load</button>
    <button (click)="ssubmit()">Submit</button>
    <br>
    <label>Absolute Owner:</label>
    <input class="form-control" formControlName="abOwner">
    <br>
    <label>Barcode:</label>
    <input class="form-control" formControlName="barCode">
    <br>
    <label>Brand:</label>
    <input class="form-control" formControlName="brand">
    <br>
    <label>Build Year:</label>
    <input class="form-control" formControlName="buildYear">
    <br>
    <label>Chasis No:</label>
    <input class="form-control" formControlName="chasisNo">
    <br>
    <label>Class of Vehicle:</label>
    <input class="form-control" formControlName="vehicleClass">
    <br>
    <label>Country of Origin:</label>
    <input class="form-control" formControlName="countryOrigin">
    <br>
    <label>Cylinder Capacity:</label>
    <input class="form-control" formControlName="cylinderCapacity">
    <br>
    <label>Email:</label>
    <input class="form-control" formControlName="email">
    <br>
    <label>Engine No:</label>
    <input class="form-control" formControlName="engineNo">
    <br>
    <label>First Reg Date:</label>
    <input class="form-control" formControlName="firstRegDate">
    <br>
    <label>Fuel Type:</label>
    <input class="form-control" formControlName="fuelType">
    <br>
    <label>Image:</label>
    <input class="form-control" formControlName="image">
    <br>
    <label>IMEI:</label>
    <input class="form-control" formControlName="imei">
    <br>
    <label>Internal Ref Number:</label>
    <input class="form-control" formControlName="internalRefNumber">
    <br>
    <label>Make:</label>
    <input class="form-control" formControlName="make">
    <br>
    <label>Mobile No:</label>
    <input class="form-control" formControlName="mobileNo">
    <br>
    <label>Model:</label>
    <input class="form-control" formControlName="model">
    <br>
    <label>odoMeterReading:</label>
    <input class="form-control" formControlName="odoMeterReading">
    <br>
    <label>officialMobileNumber:</label>
    <input class="form-control" formControlName="officialMobileNumber">
    <br>
    <label>officialPhoneNum:</label>
    <input class="form-control" formControlName="officialPhoneNum">
    <br>
    <label>orgId:</label>
    <input class="form-control" formControlName="orgId">
    <br>
    <label>photo:</label>
    <input class="form-control" formControlName="photo">
    <br>
    <label>portEntryPassNum:</label>
    <input class="form-control" formControlName="portEntryPassNum">
    <br>
    <label>portEntryValidPeriod:</label>
    <input class="form-control" formControlName="portEntryValidPeriod">
    <br>
    <label>previousOwnerDetails:</label>
    <input class="form-control" formControlName="previousOwnerDetails">
    <br>
    <label>purchasedValue:</label>
    <input class="form-control" formControlName="purchasedValue">
    <br>
    <label>regNumber:</label>
    <input class="form-control" formControlName="regNumber">
    <br>
    <label>registeredAddress:</label>
    <input class="form-control" formControlName="registeredAddress">
    <br>
    <label>rmvRegNumber:</label>
    <input class="form-control" formControlName="rmvRegNumber">
    <br>
    <label>statusWhenRegister:</label>
    <input class="form-control" formControlName="statusWhenRegister">
    <br>
    <label>taxationClass:</label>
    <input class="form-control" formControlName="taxationClass">
    <br>
    <label>type:</label>
    <input class="form-control" formControlName="type">
    <br>
    <label>typeOfIdDocument:</label>
    <input class="form-control" formControlName="typeOfIdDocument">
    <br>
    <label>vehicleId:</label>
    <input class="form-control" formControlName="vehicleId">
    <br>
    <label>vehicleInsurance:</label>
    <input class="form-control" formControlName="vehicleInsurance">
    <br>
    <label>warranty:</label>
    <input class="form-control" formControlName="warranty">
    <br>
    <label>warrantyPeriod:</label>
    <input class="form-control" formControlName="warrantyPeriod">
    <br>
    <label>weightUnladenGross:</label>
    <input class="form-control" formControlName="weightUnladenGross">
    <br>


  </div>
</form>


<router-outlet></router-outlet>